<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Mario Rossi</mat-card-title>
    <mat-card-subtitle>Bomber</mat-card-subtitle>
  </mat-card-header>
  <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <table>
      <tr>
        <td>N. Tessera: 3821930821</td>
      </tr>
      <tr>
        <td>Data di nascita: 15/03/1981</td>
      </tr>
      <tr>
        <td>CF: XCCVFR89T16L213Z</td>
      </tr>
      <tr>
        <td>Email: mario.rossi@gmail.com</td>
      </tr>
      <tr>
        <td>Cell: 3498978671</td>
      </tr>
      <tr>
        <td>Professione: Taglialegna</td>
      </tr>
      <tr>
        <td>Inizio: 15/03/1981</td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>CANCELLA</button>
    <button mat-button>MODIFICA</button>
  </mat-card-actions>
</mat-card>
